h1 {
	font-size: 2em;
  padding: 20px;
  text-align: center;
  background: aquamarine;
  width: 250px;
  margin: 20px auto;
  border-radius: 5px;
}

a {
	text-decoration: none;
	color: white;
}

#game-space {
	position: absolute;
	left: 50%;
	margin-left: -400px;
}

.container {
  height: 800px;
  max-width: 900px;
  background: green;
  margin: auto;
  padding-top: 10px;
}

#background {
	background: #cccccc;
}

.tab {
  position: fixed;
  top: 10px;
  right: 0px;
  background: red;
  padding: 20px;
  margin-right: 0px;
  color: white;
  box-shadow: 10px 10px 5px #888888;
}

.buttons {
	display: block;
	border: none;
	border-radius: 3px;
	padding: 5px 4px 4px 4px;
  display: block;
  margin: 5px 0px;
  background: transparent;
}

.buttons:hover {
	text-shadow: 1px 1px 5px green;
}

.poweroff {

}