@font-face {
      font-family: Joystix;
      src: url('../fonts/joystix_monospace.ttf');
}

h1 {
  font-family: Joystix;
	font-size: 3em;
  padding: 10px;
  text-align: center;
  width: 250px;
  margin: 20px auto;
  border-radius: 5px;
  color: white;
}

a {
	text-decoration: none;
	color: white;
}

#game-space {
	position: absolute;
	left: 50%;
	margin-left: -400px;
}

#title-img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
}

.container {
  height: 800px;
  max-width: 900px;
  background: #0c1e42;
  margin: auto;
  padding-top: 10px;
}

#background {
	background-image: url('./../assets/texture.png');
	margin: 0px;
}

.tab {
  position: fixed;
  top: 10px;
  right: 0px;
  background: #0c1e42;
  padding: 20px;
  margin-right: 0px;
  color: white;
  box-shadow: 10px 10px 5px #888888;
}

.buttons {
	display: block;
	border: none;
	border-radius: 3px;
	padding: 5px 4px 4px 4px;
  display: block;
  margin: 5px 0px;
  background: transparent;
}

.buttons:hover {
	text-shadow: 1px 1px 5px white;
}

.about {
	margin-left: 2px;
	padding-left: 10px;
}

.info{
	position: fixed;
	width: 400px;
	height: 300px;
	top: -100%;
	left: 50%;
	margin-left: -200px;
	transition: 1s ease-in-out;
	background: #0c1e42;
	padding: 10px;
	height: initial;

}

.info h2{
		color: white;
}

#card {
	background: #eeeeee;
	padding: 8px;
	border-radius: 3px;
	line-height: 1.1;
}

#card a{
	color: #551A8B;
}

.info.isVisible{
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -150px;
}