<!doctype HTML>
<html>
  <head>
    <link>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"> 
    <script src="/javascript/phaser.min.js"></script>
    <script src="/javascript/application.js"></script>
    <title>Tangram</title>
  </head>

  <body>
    <h1>Bodyodyody</h1>
    <div id='game-space'>
    </div>
  </body>
  
</html>
